* {
  margin: auto 0;
}

body {
  background-color: rgb(253, 251, 251);
}

h1 , h2 {
  font-family: cursive;
  margin-bottom: 5px;
  color: rgb(201, 169, 122);
}

h2 {
  font-size: 18px;
}

span {
  font-weight: 800;
}

ol {
  display: inline-block;
  padding: 20px;
}

ul {
  display: inline-block;
  padding: 20px;
}

/* CABEÇALHO */
header h1 {
  text-align: center;
  color: black;
  display: inline;
}

p , li , th , td {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  letter-spacing: 0.5px;
  line-height: 20px;
  font-size: 15px;
}

section {
  padding: 1px 15%;
}

#cabecalho {
  background-color: navajowhite;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
}

/* IMAGEM */
#minha_foto {
  width: 15%;
  margin-top: 100px;
  padding: 5px;
  border: 5px solid rgba(255, 222, 173, 0.507);
  border-radius: 10px;
}

/* LINK DE NAVEGAÇÃO */
nav p , a {
  text-decoration: none;
  font-weight: 800;
  color: rgb(201, 169, 122);
}

/* ARTIGOS E SECOES */
.lado-esquerdo {
  padding: 10px;
  border: 5px solid rgba(255, 222, 173, 0.507);
  border-radius: 10px;
  width: 40%;
  float: left;
}

.lado-direito {
  padding: 10px;
  border: 5px solid rgba(255, 222, 173, 0.507);
  border-radius: 10px;
  width: 40%;
  float: right;
}

/* TABELA */
#tabela tr , th , td {
  border: 1px solid;
  border-color: black;
  text-align: center;
}

#tabela {
  padding: 1%;
}

footer {
  text-align: right;
  padding: 20px;
}

